shapely
pandas
unittest2
nbsphinx
pytest
termcolor
matplotlib
alabaster
cachetools
mpi4py
numpy
scipy
dash
dash_core_components
dash_html_components
dash_bootstrap_components
plotly >=4.14.0
nbsphinx
recommonmark
sphinx
sphinx_rtd_theme
git+https://github.com/romanodev/pyvtk
